
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #2d234a; 
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sidebar .inner {
  width: 100%;
}

#sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar nav ul li {
  margin: 20px 0;
  text-align: center;
}

#sidebar nav ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

#sidebar nav ul li a:hover {
  color: #fff;
}


.mobile-navbar {
  background-color: #2d234a;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
}

.mobile-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.mobile-menu li {
  text-align: center;
  margin: 0;
}

.mobile-menu li a {
  color: #b3b3b3;
  text-decoration: none;
  font-size: 1rem; 
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 15px;
  transition: color 0.3s;
}

.mobile-menu li a:hover {
  color: #fff;
}


@media (max-width: 1024px) {
  #sidebar {
    display: none;
  }
}


@media (min-width: 1025px) {
  .mobile-navbar {
    display: none;
  }
}


@media (max-width: 1024px) {
  .mobile-menu li a {
    font-size: 0.9rem; 
  }
}

@media (max-width: 768px) {
  .mobile-menu li a {
    font-size: 0.8rem; 
  }
}

@media (max-width: 480px) {
  .mobile-menu li a {
    font-size: 0.7rem; 
  }
}
